.profile{
    margin: 0;
    margin-top: 74px;
    display: flex;
    flex-direction: column;
}

.profile__title{
    margin: 0 auto;
    color: #000000;
    font-family: 'Inter', 'Arial Black', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.profile__form{
    margin: 0 auto;
    margin-top: 123px;
    display: flex;
    flex-direction: column;
}

.profile__label{
    margin: 0;
    display: flex;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 16px;
    width: 410px;
    justify-content: space-between;
}

.profile__label:last-of-type{
    padding-top: 17px;
}

.profile__name{
    margin: 0;
    font-family: 'Inter', 'Arial Black', sans-serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 13.31px;
}

.profile__input{
    margin: 0;
    width: 144px;
    border: none;
    text-align: right;
    line-height: 13.31px;
    font-size: 11px;
    font-family: 'Inter', 'Arial Black', sans-serif;
}

.profile__submit{
    color:#000000;
    margin-top: 220px;
    width: 410px;
    border: none;
    font-family: 'Inter', 'Arial Black', sans-serif;
    font-weight: 400px;
    line-height: 15.73px;
    background-color: #fff;
}

.profile__link{
    margin: 16px auto 70px;
    color: #FF004D;
    text-decoration: none;
    font-weight: 500;
    line-height: 15.73px;
    font-size: 13px;
    font-family: 'Inter', 'Arial Black', sans-serif;
}