.notfound{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.notfound__article{
    margin: 0 auto;
    margin-top: 200px;
    color: #000000;
    font-family: 'Inter', 'Arial Black', sans-serif;
    font-weight: 400;
    font-size: 140px;
}

.notfound__text{
    margin: 0 auto;
    margin-top: 5px;
    color: #000000;
    font-family: 'Inter', 'Arial Black', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.notfound__link{
    margin: 0 auto;
    margin-top: 184px;
    color: #2BE080;
    font-family: 'Inter', 'Arial Black', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
}

.notfound__link:hover {
    opacity: 0.7;
  }

  @media screen and (max-width: 1000px) {
    .notfound__article {
        margin-top: 400px;
    }
}

@media screen and (max-width: 550px) {
    .notfound__article {
        margin-top: 329px;
        font-size: 80px;
    }
    .notfound__text{
        font-size: 12px;
    }
    .notfound__link{
        font-size: 12px;
    }
}