.form-auth {
    margin: 0 auto;
    width: 396px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-auth__label{
    font-family: 'Inter', 'Arial Black', sans-serif;
    font-size: 10px;
    font-weight: 400;
    width: 626px;
    line-height: 12.1px;
    color:#A0A0A0;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.form-auth__submit{
    font-family: 'Inter', 'Arial Black', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    height: 45px;
    width: 396px;
    background-color: #2BE080;
    color: #FFFFFF;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin-top: auto;
    margin-bottom: 16px;
    align-self: flex-end;
}

.form-auth__input{
    font-family: 'Inter', 'Arial Black', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 1px solid #E8E8E8;
    width: 396px;
    margin-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 24px;
}

.form-auth__input:focus{
    outline: none;
    border-bottom: 1px solid #2BE080;
}

.form-auth__link{
    font-family: 'Inter', 'Arial Black', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color:#2BE080;
    text-decoration: none;
    margin-left: 6px;
}

.form-auth__text{
    margin: 0 auto;
    font-family: 'Inter', 'Arial Black', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color:#A0A0A0;
}

.auth__title{
    margin: 40px 0;
    margin-left: 5;
    font-family: 'Inter', 'Arial Black', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    width: 396px;
}

.form-auth__error {
    color: #FF3055;
}